<div class="footer py-5">
    <div class="container d-flex justify-content-between align-items-center">
        <img src="../assets/images/footerLogo.png" alt="footer logo">
        <div class="contact d-flex flex-column">
            <p class="d-flex">聯絡我們：<a class="text-secondary" href="mailto:service@hexschool.com">service@hexschool.com</a></p>
            <p class="d-flex">電話：<a class="text-secondary" href="0987654321">0987645321</a></p>
        </div>
    </div>
</div>