<div class="bg-gray py-2">
    <div class="container">
        <div class="d-flex justify-content-end">
            <a class="fbIcon d-flex align-items-center me-1" href="#"><img class="me-1" src="../assets/images/facebookIcon.png" alt="share icon">粉絲團</a>
            <a class="twIcon d-flex align-items-center ps-1 border-start" href="#"><img class="me-1" src="../assets/images/twitterIcon.png" alt="share icon">追隨我們</a>
        </div>
    </div>
</div>
<div class="header py-2">
    <div class="container d-flex justify-content-between">
        <img src="../assets/images/logo 2.png" alt="">
        <ul class="headerMenu list-group flex-row align-items-center">
            <li class="text-primary list-group-item p-0 border-0 position-relative">
                <a class="py-2 text-center" href="#">
                    首頁
                </a>
                <ul class="list-group d-none position-absolute z-3 w-100">
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            首頁1
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            首頁2
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            首頁3
                        </a>
                    </li>
                </ul>
            </li>
            <li class="text-primary list-group-item p-0 border-0  position-relative">
                <a class="py-2 text-center" href="#">
                    產品介紹
                </a>
                <ul class="list-group d-none position-absolute z-3 w-100">
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            產品介紹1
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            產品介紹2
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            產品介紹3
                        </a>
                    </li>
                </ul>
            </li>
            <li class="text-primary list-group-item p-0 border-0  position-relative">
                <a class="py-2 text-center" href="#">
                    聯絡我們
                </a>
                <ul class="list-group d-none position-absolute z-3 w-100">
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            聯絡我們1
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            聯絡我們2
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                        <a class="text-center" href="#">
                            聯絡我們3
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>