<div class="footer">
    <div class="container d-flex jcsb">
        <img src="../assets/images/footerLogo.png" alt="footer logo">
        <div class="contact">
            <p class="d-flex">聯絡我們：<a href="mailto:service@hexschool.com">service@hexschool.com</a></p>
            <p class="d-flex">電話：<a href="0987654321">0987645321</a></p>
        </div>
    </div>
</div>