body{
    line-height: 1.5;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    display: block;
    text-emphasis: none;
}
.d-flex{
    display: flex;
}
.fd-col{
    flex-direction: column;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.text-align-center{
    text-align: center;
}
.fs-36{
    font-size: 36px;
}
.fs-24{
    font-size: 24px;
}
.fs-20{
    font-size: 20px;
}
.fs-18{
    font-size: 18px;
}