.bg-gray{
    background-color: #f6f6f6;
    .fbIcon{
        color: #4460a0;
    }
    .twIcon{
        color: #00aaec;
        border-color: #cccccc;
    }
}
.headerMenu{
    width: 25.463%;
    .py-2:hover{
        padding-bottom: 5px;
        border-bottom: 3px solid $primary;
    }
    .active{
        background: $primary;
        color: #FFFFFF
    }
    .d-none{
        background-color: #FFF;
    }
    .position-relative{
        width: 100%;
    }
}