<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- google font icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <!-- lightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="index">
      <span class="material-symbols-outlined position-fixed bottom-0 end-0 toTop rounded-5 fw-bold">
        arrow_upward
      </span>
      <!-- Slider main container -->
      <div class="swiper container px-0">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide item1 container">
            <div class="opacity py-4">
              <h1 class="text-white fw-bold">
                六角學院 <br>讓您奠定良好的前端基礎
              </h1>
            </div>
          </div>
          <div class="swiper-slide item2 container">
            <div class="opacity py-4">
              <h1 class="text-white fw-bold">
                六角學院 <br>讓您奠定良好的前端基礎
              </h1>
            </div>
          </div>
          <div class="swiper-slide item3 container">
            <div class="opacity py-4">
              <h1 class="text-white fw-bold">
                六角學院 <br>讓您奠定良好的前端基礎
              </h1>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
      <div class="container box">
        <div class="row mt-4 justify-content-between">
          <div class="col-4 border px-0 d-flex flex-column justify-content-end pt-4">
            <div class="card border-0">
              <a href="https://i.imgur.com/oGtsR5J.png" data-lightbox="roadtrip" class="align-self-center">
                <img src="https://i.imgur.com/oGtsR5J.png" class="card-img-top align-self-center html" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-4 border px-0 d-flex flex-column justify-content-end pt-4">
            <div class="card border-0">
              <a href="https://i.imgur.com/pfo2DIh.png" data-lightbox="roadtrip" class="align-self-center py-3">
                <img src="https://i.imgur.com/pfo2DIh.png" class="card-img-top align-self-center rwd" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-4 border px-0 d-flex flex-column justify-content-end pt-4">
            <div class="card border-0">
              <a href="https://i.imgur.com/Uz4Pl62.png" data-lightbox="roadtrip" class="align-self-center">
                <img src="https://i.imgur.com/Uz4Pl62.png" class="card-img-top align-self-center jquery" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    



    <%- include('./layout/footer'); -%>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- main js -->
    <script type="module" src="../main.js"></script>
    <!-- plugin -->
    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>

    <!-- customer -->
    <script type="module" src="../assets/js/index.js"></script>
    <script type="module" src="../assets/js/header.js"></script>
  </body>
</html>
